/* minecraft_dungeons/style/Navbar.css */
@import url('./theme.css');

/* src/styles/NavBar.css */
.dungeons-nav {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaço entre os links */
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.dungeons-nav a {
  color: #a0a0c0;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dungeons-nav a:hover {
  background-color: #3a3a5a;
  color: #ffffff;
}